body {
  font-size: 1rem;
  line-height: 1.25;
  background-color: #dee7ff;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-1,
.col-md-1,
.col-lg-1,
.col-xl-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-1,
  .col-md-1,
  .col-lg-1,
  .col-xl-1 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-2,
.col-md-2,
.col-lg-2,
.col-xl-2 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-2,
  .col-md-2,
  .col-lg-2,
  .col-xl-2 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-3,
.col-md-3,
.col-lg-3,
.col-xl-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-3,
  .col-md-3,
  .col-lg-3,
  .col-xl-3 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-4,
.col-md-4,
.col-lg-4,
.col-xl-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-4,
  .col-md-4,
  .col-lg-4,
  .col-xl-4 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-5,
.col-md-5,
.col-lg-5,
.col-xl-5 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-5,
  .col-md-5,
  .col-lg-5,
  .col-xl-5 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-6,
.col-md-6,
.col-lg-6,
.col-xl-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-6,
  .col-md-6,
  .col-lg-6,
  .col-xl-6 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-7,
.col-md-7,
.col-lg-7,
.col-xl-7 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-7,
  .col-md-7,
  .col-lg-7,
  .col-xl-7 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-8,
.col-md-8,
.col-lg-8,
.col-xl-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-8,
  .col-md-8,
  .col-lg-8,
  .col-xl-8 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-9,
.col-md-9,
.col-lg-9,
.col-xl-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-9,
  .col-md-9,
  .col-lg-9,
  .col-xl-9 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-10,
.col-md-10,
.col-lg-10,
.col-xl-10 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-10,
  .col-md-10,
  .col-lg-10,
  .col-xl-10 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-11,
.col-md-11,
.col-lg-11,
.col-xl-11 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-11,
  .col-md-11,
  .col-lg-11,
  .col-xl-11 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-12,
.col-md-12,
.col-lg-12,
.col-xl-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-12,
  .col-md-12,
  .col-lg-12,
  .col-xl-12 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .post {
    padding-top: 45px;
  }
}
.post .post-item {
  margin-bottom: 30px;
}
.post .post-item .post-wrap:hover {
/*！碰时颜色*/
  box-shadow: 0 16px 32px 0 rgba(255,150,0,0.35);
}
.post .post-item .post-wrap {
/*未触碰颜色*/
  box-shadow: 0 5px 40px -1px rgba(146,177,255,0.199);
  background-color: var(--color-background);
}
.post .post-item .post-wrap .post-top {
  z-index: 10;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.post .post-item .post-wrap .post-image {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
}
.post .post-item .post-wrap .post-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.post .post-item .post-wrap .post-content {
  position: relative;
  padding: 20px;
  height: 180px;
}
.post .post-item .post-wrap .post-content-wrap {
  height: 4rem;
  overflow: hidden;
}
.post .post-item .post-wrap .post-content .post-info {
  position: absolute;
  bottom: 20px;
  color: var(--color-text-third);
}
@media screen and (max-width: 420px) {
  a.menu1-item2-link2 {
    display: none;
  }
}
.menu1 {
  box-shadow: 0 1px 10px rgba(52,160,255,0.2);
  margin: 0;
  padding: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.menu1 .menu1-item1 {
  float: left;
  display: block;
  padding: 14px 16px;
}
.menu1 .menu1-item1 .menu1-item1-link1 {
  color: #000;
  text-decoration: none;
}
.menu1 .menu1-item1 .menu1-item1-link1:hover {
  color: #368ccb;
}
.menu1 .menu1-item2 {
  float: left;
  display: block;
  padding: 14px 16px;
}
.menu1 .menu1-item2 .menu1-item2-link2 {
  color: #000;
  text-decoration: none;
}
.menu1 .menu1-item2 .menu1-item2-link2:hover {
  color: #368ccb;
}
